{% extends 'default/catalog.html.twig' %}

{% block grid %}
  <div class="row grid header">
    <div class="col-6">
      Nome
    </div>
    <div class="col-4">
      Data nascita/formazione
    </div>  
    <div class="col-2"></div>	
  </div>
  {% for row in data %}
  <div class="row grid">
    <div class="col-6">
      {{ row.name }}
    </div>
    <div class="col-4">
      {{ row.birthDate }}
    </div>
    <div class="col-2" data-react-id="grid-row-buttons"></div>
  </div>
  {% endfor  %}
{% endblock %}

{% block form %}
	<div class="form" data-react-id="form"></div>
{% endblock %}