{% extends 'default/list.html.twig' %}

{% block grid %}
<div class="container">
  {% for row in data %}
  <div class="row">
    <div class="col-sm">
      {{ row.id }}
    </div>
    <div class="col-sm">
      {{ row.name }}
    </div>
    <div class="col-sm">
      {{ row.birthDate }}
    </div>
  </div>
  {% endfor  %}
</div>

<div id="test-react"></div>
{% endblock %}